{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Taskker</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/js/all.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css">
</head>
<body>

<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/"><b>Taskker</b></a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
           data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div class="navbar-menu" id="mainMenu">
        {% if request.user.is_authenticated %}
        <div class="navbar-start">
            <a href="{% url 'dashboard' %}" class="navbar-item">Dashboard</a>
            <a href="{% url 'all_tasks' %}" class="navbar-item">Tasks</a>
        </div>
        {% else %}
        <div class="navbar-start">
            <a href="{% url 'plans' %}" class="navbar-item">Plans</a>
        </div>
        {% endif %}

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    {% if request.user.is_authenticated %}
                    <a href="{% url 'settings' %}" class="button is-info">Settings</a>
                    <a href="{% url 'logout' %}" class="button is-danger">Log out</a>
                    {% else %}
                    <a href="{% url 'signup' %}" class="button is-primary"><strong>Sign up</strong></a>
                    <a href="{%  url 'login'%}" class="button is-light">Log in</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</nav>

<section class="section" id="main-section">

    {% if messages %}
    {% for message in messages %}
    <article class="message is-{{ message.tags }}">
        <div class="message-body">
            {{ message }}
        </div>
    </article>
    {% endfor %}
    {% endif %}

    <aside class="menu is-dark">
        <p class="menu-label">
            PROJECTS
        </p>
        <ul class="menu-list">
            {% for project in projects %}
                <li><a href="{% url 'tasks_per_project' project.id %}">{{ project.name }}</a></li>
            {% endfor %}
        </ul>
        <p class="menu-label">
            LABELS
        </p>
        <ul class="menu-list">
            {% for label in labels %}
                <li><a href="{% url "tasks_per_label" label.id %}">{{ label.name }}</a></li>
            {% endfor %}
        </ul>
    </aside>


    {% block content %}
    {% endblock %}
</section>

<footer class="footer">
    <div class="content has-text-centered">
        <p><strong>Taskker</strong> - A smart task manager to replace your paper notebook.</p>
    </div>
</footer>

<script src="{% static 'js/main.js' %}"></script>

{% block scripts %}
{% endblock %}

</body>
</html>
