      body {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
      }

      #main-section {
        flex: 1;
      }

      .check-task {
        margin-top: 10px;
      }

      #project-color {
        height: 10px;
      }


      .card {
        display:flex;
        flex-direction: column;
        height: 100%;
      }

      .card-footer {
        margin-top: auto;
      }